<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Files</title>
</head>
<body>
    <h1>Upload Files</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="image_files">Select images to upload (PNG, JPG, JPEG):</label>
        <input type="file" id="image_files" name="image_files" multiple>
        <br>
        <label for="watermark_file">Select a watermark image (PNG, JPG, JPEG):</label>
        <input type="file" id="watermark_file" name="watermark_file">
        <br>
        <label for="watermark_percentage">Watermark size percentage:</label>
        <input type="number" id="watermark_percentage" name="watermark_percentage" min="1" max="100" value="10">
        <br>
        <input type="checkbox" id="use_default_watermark" name="use_default_watermark">
        <label for="use_default_watermark">Use default watermark</label>
        <br>
        <button type="submit">Upload</button>
    </form>
</body>
</html>
